@if (Ticket != null)
{
    <tr>
        <td>
            <NavLink href=@($"/tickets/{Ticket.TicketId}")>
                @Ticket.Title
            </NavLink>
        </td>
        <td>@Ticket.Owner</td>
        <td>@(Ticket.ReportDate?.ToString("yyyy-MM-dd") ?? string.Empty)</td>
        <td>@(Ticket.DueDate?.ToString("yyyy-MM-dd") ?? string.Empty)</td>
    </tr>
}

@code {
    [Parameter]
    public Ticket Ticket { get; set; }
}
