@page "/"

@inject IProjectsScreenUseCases ProjectScreenUseCases;
@inject IAuthenticationUseCases AuthenticationUseCases;

<h3>Projects</h3>

@if (projects != null)
{
    <ul>
        @foreach (var project in projects)
        {
            <li>
                <NavLink href=@($"/projects/{project.ProjectId}/tickets")>
                    @project.Name
                </NavLink>
            </li>

        }
    </ul>
}

Token: @token;

@code {
    IEnumerable<Project> projects;

    string token;

    protected override async Task OnInitializedAsync()
    {
        token = await AuthenticationUseCases.LoginAsync("frank", "password");
        Console.WriteLine(token);
        projects = await ProjectScreenUseCases.ViewProjectsAsync();
    }
}
